<%= form_with model: @contact_request, url: contact_requests_path do |form| %>

  <div class="field">
    <%= form.label :u_name %>
    <%= form.text_field :u_name %>
  </div>

  <div class="field">
    <%= form.label :u_email %>
    <%= form.text_field :u_email %>
  </div>

  <div class="field">
    <%= form.label :u_tel %>
    <%= form.text_field :u_tel %>
  </div>

  <div class="field">
    <%= form.label :u_message %>
    <%= form.text_area :u_message %>
  </div>

  <div class="actions">
    <%= form.submit "Send" %>
  </div>
<% end %>
