<p id="notice"><%= notice %></p>

<h1>Contact Requests</h1>

<table>
  <thead>
    <tr>
      <th>U name</th>
      <th>U email</th>
      <th>U tel</th>
      <th>U message</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @contact_requests.each do |contact_request| %>
      <tr>
        <td><%= contact_request.u_name %></td>
        <td><%= contact_request.u_email %></td>
        <td><%= contact_request.u_tel %></td>
        <td><%= contact_request.u_message %></td>
        <td><%= link_to 'Show', contact_request %></td>
        <td><%= link_to 'Edit', edit_contact_request_path(contact_request) %></td>
        <td><%= link_to 'Destroy', contact_request, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Contact Request', new_contact_request_path %>
