<p id="notice"><%= notice %></p>
  <section class="bg-light page-section" id="team">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading text-uppercase">Our Amazing Team</h2>
          <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
        </div>
      </div>
      <div class="row">
      <% @employees.each do |employee| %>
        <div class="col-sm-4">
          <div class="team-member">
            <% if employee.image.attached? %>
              <%= image_tag(employee.image, :class => "mx-auto rounded-circle") %>
            <% else %>
              <%= image_tag("photo_missing.png", :class => "mx-auto rounded-circle") %>
            <% end %>
            <h4><%= employee.f_name + " " + employee.l_name %></h4>
            <p class="text-muted">
              <%= employee.position %><br>
              <i>
                <%= employee.email %>
              </i>
            </p>
            <ul class="list-inline social-buttons">
              <li class="list-inline-item">
                <%= link_to employee.linkdin do %>
                  <i class="fab fa-linkedin-in"></i>
                <% end %>
              </li>
              <li class="list-inline-item">
                <%= link_to employee.facebook do %>
                  <i class="fab fa-facebook-f"></i>
                <% end %>
              </li>
              <% if employee.twitter != "" %>
                <li class="list-inline-item">
                  <%= link_to employee.twitter do %>
                    <i class="fab fa-twitter"></i>
                  <% end %>
                </li>
              <% end %>
            </ul>
          </div>
        </div>
      <% end %>
      </div>
    </div>
  </section>
