<!-- Header -->
<header class="masthead">
  <div class="container">
    <div class="intro-text">
      <div class="intro-lead-in">Welcome To SigraGroup!</div>
      <div class="intro-heading text-uppercase">It's Nice To Meet You</div>
      <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="#services">Tell Me More</a>
    </div>
  </div>
</header>

<!-- Problems -->
<section class="page-section" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase">Problems</h2>
        <h3 class="section-subheading text-muted content_text">
          <% if @article_problems != nil %>
            <%= @article_problems.content.html_safe %>
          <% end %>
        </h3>
      </div>
    </div>
  </div>
</section>

<!-- Mission -->
<section class="page-section" id="mission">
  <div class="container">
    <!-- The video -->
    <div class="row">
      <!-- <video autoplay muted loop id="myVideo"> -->
        <!-- <source src="https://storage.googleapis.com/coverr-main/mp4/Mt_Baker.mp4" type="video/mp4"> -->
      <!-- </video> -->
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase">Our Mission</h2>
        <h3 class="section-subheading text-muted content_text">
          <% if @article_mission != nil %>
            <%= @article_mission.content.html_safe %>
          <% end %>
        </h3>
      </div>
    </div>
  </div>
</section>


<!-- Services -->
<section class="page-section" id="services">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase">Services</h2>
        <h3 class="section-subheading text-muted content_text">
          <% if @article_services != nil %>
            <%= @article_services.content.html_safe %>
          <% end %>    
        </h3>
      </div>
    </div>
    <div class="row text-center">
      <% if @services.length == 2 %>
        <% @services.each do |service| %>
          <div class="col-md-6">
            <span class="fa-stack fa-4x">
              <% if service.image.attached? %>
                <div class="service-image">
                  <%= link_to image_tag(service.image, :class => "mx-auto rounded-circle"), service, target: :_blank %>
                </div>
              <% else %>
                <%= link_to service do %>
                  <i class="fas fa-circle fa-stack-2x text-primary"></i>
                  <i class="fas fa-shopping-cart fa-stack-1x fa-inverse"></i>
                <% end %> 
              <% end %>
            </span>
            <h4 class="service-heading"><%= link_to service.name, service, target: :_blank %></h4>
            <p class="text-muted"><%= service.description.truncate(200).html_safe %></p>
          </div>
        <% end %>
      <% else %>  
        <% @services.each do |service| %>
          <div class="col-md-4">
            <span class="fa-stack fa-4x">
              <% if service.image.attached? %>
                <div class="service-image">
                  <%= link_to image_tag(service.image, :class => "mx-auto rounded-circle"), service, target: :_blank %>
                </div>
              <% else %>
                <%= link_to service do %>
                  <i class="fas fa-circle fa-stack-2x text-primary"></i>
                  <i class="fas fa-shopping-cart fa-stack-1x fa-inverse"></i>
                <% end %>
              <% end %>
            </span>
            <h4 class="service-heading"><%= link_to service.name, service, target: :_blank %></h4>
            <p class="text-muted"><%= service.description.truncate(130).html_safe %></p>
          </div>
  	    <% end %>
        <% if @services.length >= 3 %>
          <%= link_to "All services", services_path, class: "btn btn-primary btn-xl text-uppercase js-scroll-trigger", target: :_blank %>
        <% end %>  
      <% end %>
    </div>
  </div>
</section>

<!-- Team -->
<section class="bg-light page-section" id="team">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase">Our Amazing Team</h2>
        <h3 class="section-subheading text-muted content_text">
          <% if @article_team != nil %>
            <%= @article_team.content.html_safe %>
          <% end %>
        </h3>
      </div>
    </div>
    <%= link_to "Meet our team", employees_path, class: "btn btn-primary btn-xl text-uppercase js-scroll-trigger", target: :_blank %>
  </div>
</section>

<!-- Clients -->
<section class="bg-light page-section" id="clients">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase">Our Partners</h2>
        <h3 class="section-subheading text-muted content_text">
          <% if @article_clients != nil %>
            <%= @article_clients.content.html_safe %>
          <% end %> 
        </h3>
      </div>
    </div>
<!--     <div class="row">
      <div class="col-lg-8 mx-auto text-center">
      </div>
    </div> -->

    <div id="jssor_1" style="position:relative;margin:0 auto;top:0px;left:0px;width:980px;height:150px;overflow:hidden;visibility:hidden;">
      <!-- Loading Screen -->
      <div data-u="loading" class="jssorl-009-spin" style="position:absolute;top:0px;left:0px;width:100%;height:100%;text-align:center;background-color:rgba(0,0,0,0.7);">
          <!-- <img style="margin-top:-19px;position:relative;top:50%;width:38px;height:38px;" src="spin.svg" /> -->
          <%= image_tag("spin.svg", style: "margin-top:-19px;position:relative;top:50%;width:38px;height:38px;") %>
      </div>
      <div data-u="slides" style="cursor:default;position:relative;top:0px;left:0px;width:980px;height:150px;overflow:hidden;">
        <% @partners.each do |partner| %>
          <div>
            <img data-u="image">
              <%= link_to image_tag(partner.image), partner.p_link, target: :_blank %>
            </img>
          </div>
        <% end %>
      </div>
      <!-- Bullet Navigator -->
      <div data-u="navigator" class="jssorb057" style="position:absolute;bottom:12px;right:12px;" data-autocenter="1" data-scale="0.5" data-scale-bottom="0.75">
        <div data-u="prototype" class="i" style="width:16px;height:16px;">
          <svg viewbox="0 0 16000 16000" style="position:absolute;top:0;left:0;width:100%;height:100%;">
            <circle class="b" cx="8000" cy="8000" r="5000"></circle>
          </svg>
        </div>
      </div>
    </div>
    <script type="text/javascript">jssor_1_slider_init();</script>

  </div>
</section>

<!-- Contact -->
<section class="page-section" id="contact">
  <%= render "contact_requests/form" %>
</section>

<style>
  /*jssor slider loading skin spin css*/
  .jssorl-009-spin img {
    animation-name: jssorl-009-spin;
    animation-duration: 1.6s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }

  @keyframes jssorl-009-spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
  }

  /*jssor slider bullet skin 057 css*/
  .jssorb057 .i {position:absolute;cursor:pointer;}
  .jssorb057 .i .b {fill:none;stroke:#fff;stroke-width:2000;stroke-miterlimit:10;stroke-opacity:0.4;}
  .jssorb057 .i:hover .b {stroke-opacity:.7;}
  .jssorb057 .iav .b {stroke-opacity: 1;}
  .jssorb057 .i.idn {opacity:.3;}

  /*jssor slider arrow skin 073 css*/
  .jssora073 {display:block;position:absolute;cursor:pointer;}
  .jssora073 .a {fill:#ddd;fill-opacity:.7;stroke:#000;stroke-width:160;stroke-miterlimit:10;stroke-opacity:.7;}
  .jssora073:hover {opacity:.8;}
  .jssora073.jssora073dn {opacity:.4;}
  .jssora073.jssora073ds {opacity:.3;pointer-events:none;}
</style>